<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/frontend.css' | gulp_asset_version) }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script rel="script" src="{{ asset('assets/js/frontend-deps.js' | gulp_asset_version) }}"></script>
        <script rel="script" src="{{ asset('assets/js/frontend.js' | gulp_asset_version) }}"></script>
    </body>
</html>