<div class="dl-navbar">
    <a href="#" class="richieste">
        <span class="text">2 Richieste</span>
        <img src="{{ asset('assets/images/gruccia-icon.png') }}" alt="Richieste">
    </a>
    <a class="navbar-logo" href="{{ path('app_camerino_index') }}">
        <img src="{{ asset('assets/images/dresslab-logo.png') }}" alt="Dresslab logo">
    </a>
</div>