<div class="dl-sidebar">
    <div id="illuminazione" class="function-section">
        <div class="header">
            <img class="icon" src="{{ asset('assets/images/bulb-icon.png') }}" alt="Cambia illuminazione">
            <div class="title">Cambia illuminazione</div>
            <div class="divider"></div>
        </div>
        <div class="options">
            <div class="option">Luce solare pomeridiana</div>
            <div class="option selected">Luce solare pomeridiana</div>
            <div class="option">Luce solare pomeridiana</div>
        </div>
    </div>
    <div id="lingua" class="function-section" style="margin-top: 30px">
        <div class="header">
            <img class="icon" src="{{ asset('assets/images/world-icon.png') }}" alt="Cambia lingua">
            <div class="title">Cambia illuminazione</div>
            <div class="divider"></div>
        </div>
        <div class="options">
            <div class="option">English</div>
            <div class="option selected">Italiano</div>
            <div class="option">Français</div>
        </div>
    </div>
</div>