// Colors
$color-arancione-primario: #FF8B72;
$color-arancione-secondario: #FF8176;
$color-testo-principale: #333;
$color-testo-secondario: #333;
$color-sfondo: #F6F2F2;
$color-bordo: #D8D8D8;

$standard-link-transition: all .2s ease-in;

$sidebar-width: 460px;
$navbar-height: 88px;