@import "vars";

.content-wrapper {
    position: relative;
    height: 100%;
}

@mixin content-wrapper {
    position: fixed;
    left: 0;
    top: $navbar-height;
    bottom: 0;
    right: $sidebar-width;
    background-color: $color-sfondo;
    padding: 30px;
    overflow: scroll;
    color: $color-testo-principale;
}

.loader {
    font-size: 45px;
}

@import "navbar";
@import "sidebar";
@import "guardaroba";
@import "dress-detail";
@import "custom_bootstrap";