{% extends ':camerino:layout.html.twig' %}

{% block content %}
    {% verbatim %}
        <div class="guardaroba" ng-controller="GuardarobaController as guardaroba">
            <header>Il mio guardaroba</header>
            <main>
                <div class="dress-card-wrapper" ng-repeat="vestito in guardaroba.vestiti">
                    <dress-card id="vestito.id"
                     price="vestito.prezzo"
                     size="vestito.taglia"
                     description="vestito.prodotto.nome"
                     color="vestito.coloreHex"
                     image="vestito.image"></dress-card>
                </div>
                <div class="clearfix"></div>
            </main>
        </div>
        {% endverbatim %}
{% endblock %}