{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="riepilogo-capi">
        <div class="wrap">
            <div class="numero-capi">3</div>
            <div class="title">Capi nel camerino</div>
        </div>
    </div>
    <div class="content-wrapper">
        {% include 'sidebar.html.twig' %}
        <div class="guardaroba">
            <header>Il mio guardaroba</header>
            <main>
                <div class="dress-card">
                    <div class="dress-container">
                        <img class="dress-image" src="{{ asset('assets/images/vestiti/capo_1.jpg') }}">
                        <div class="dress-head">
                            <div class="dress-brand pull-left">Alpha Studio</div>
                            <div class="dress-price pull-right">€ 150,00</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="dress-description">
                            Camicia blu con taschini
                        </div>
                        <div class="dress-size">Taglia: S</div>
                        <div class="dress-color">Colore: <span class="color blu"></span></div>
                    </div>
                    <div class="dress-help">Clicca per maggiori dettagli</div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}