{% extends ':camerino:layout.html.twig' %}

{% block content %}
    {% verbatim %}
        <div class="guardaroba" ng-controller="GuardarobaController as guardaroba">
            <header>Il mio guardaroba</header>
            <main>
                <pre>{{ guardaroba.data }}</pre>
                <div class="dress-card-wrapper" ng-repeat="card in [0,1,2,3]">
                    <dress-card description="guardaroba.data.count"></dress-card>
                </div>
                <div class="clearfix"></div>
            </main>
        </div>
        {% endverbatim %}
{% endblock %}