{% extends 'base.html.twig' %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="riepilogo-capi">
        <div class="wrap">
            <div id="number-capi" class="numero-capi">0</div>
            <div class="title">Capi nel camerino</div>
        </div>
    </div>
    <div class="content-wrapper">
        {% include 'sidebar.html.twig' %}
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}